.review {
  height: 80vh;
  background-color: mintcream;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review .start {
  margin-bottom: 80px;
}

.review h2 {
  color: var(--smain);
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Dancing Script";
}
.review h5 {
  color: var(--main);
  width: 600px;
  text-align: center;
  margin: 0;
  font-family: cursive;
  line-height: 1;
}

.swiper {
  width: 550px;
  height: 320px;
  background-color: #ade8f4;
  border-radius: 12px;
}

.swiper-slide {
  width: 500px;
  margin-right: 50px;
  text-align: center;
}

.swiper-pagination {
  position: absolute;
  bottom: 6px;
}

.swiper-pagination-bullet-active {
  width: 15px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--main) !important;
}

.boxx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxx .image {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
}

.boxx .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: 11px;
}

.boxx h6 {
  margin-top: 20px;
  font-weight: bold;
}

.boxx .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.boxx .subtitle {
  text-align: center;
  padding: 0px 15px;
  text-align: center;
  padding: 0px 15px;
  font-family: "Dancing Script";
  font-size: 1.2rem;
  font-weight: bold;
}

/* ==== MEDIA QUERY ==== */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 810px) {
  .swiper {
    width: 380px;
  }

  .boxx .subtitle {
    line-height: 1.3;
  }

  .boxx .title {
    margin-bottom: 8px;
  }

  .review h5 {
    width: 410px;
  }
}

/* ==== MEDIA QUERY ==== */
