table {
  width: 100%;
  border: 1px solid #ccc;
  border-spacing: 0px;
  text-align: center;
  /* table-layout: auto; */
}

table td {
  padding: 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-weight: bold;
}

table thead td {
  background-color: var(--smain);
  color: #fff;
}

td.image {
  width: 90px;
  height: 90px;
}

td.image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid saddlebrown;
}

button {
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 15px;
  background-color: green;
  color: #fff;
  font-weight: bold;
  margin-bottom: 50px;
  transition: 0.5s;
}
button:hover {
  background-color: darkgreen;
}
