table {
  width: 100%;
  border: 1px solid #ccc;
  border-spacing: 0px;
  text-align: center;
  /* table-layout: auto; */
}

table td {
  padding: 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-weight: bold;
}

table thead td {
  background-color: var(--smain);
  color: #fff;
}

td.image {
  width: 90px;
  height: 90px;
}

td.image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid saddlebrown;
}

button {
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 15px;
  background-color: green;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}
button:hover {
  background-color: darkgreen;
}

.department-Buy {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
}

.department-Buy.show {
  position: absolute;
  background-color: var(--main);
  width: 65%;
  /* height: 65%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  visibility: visible;
  opacity: 1;
  width: 500px;
}

/* ==== MEDIA QUERY ==== */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .department-Buy.show {
    width: 80%;
  }
}

/* ==== MEDIA QUERY ==== */

.department-Buy .x {
  position: absolute;
  right: -7px;
  top: -7px;
  color: var(--smain);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.department-Buy input {
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 10px;
}

.department-Buy .field-name input:nth-child(1) {
  width: 50%;
}
.department-Buy .field-name input:nth-child(2) {
  width: 50%;
}

.department-Buy .field-card input {
  border-radius: 0px;
}

.section {
  width: 100%;
}

select {
  width: 100%;
  height: 35px;
  text-align: center;
  outline: none;
  border: none;
}

.address input {
  border-radius: 0px;
}

.department-Buy .field-card .card {
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.department-Buy .field-card .card .imageCard {
  display: flex;
}

.department-Buy .field-card .card img {
  /* width: 65px; */
  height: 50px;
  margin-left: -12px;
}
.department-Buy .field-card .card img:hover {
  z-index: 1;
}

button.pay {
  width: 100%;
}

button.pay.disabled {
  background-color: #808080;
}
