/* :root {
  --primary: #fc2b2b;
  --second: #fa5300;
  --bgColor: #2d2d2d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  /* background-color: var(--bgColor);/* 
  font-family: "Robot", sans-serif;

  height: 100vh;
}

body::-webkit-scrollbar {
  display: none; /* this disepear the scroll bar */ /*
}
*/
/*
body {
  /* overflow: hidden; */
/* this propert disable the scroll in page*/ /*
}*/

/* ================================================================================================= */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700&display=swap");

:root {
  --main: #664d03;
  --smain: #c29c63;
  --second: #fa5300;
  --primary: #fc2b2b;
  --bgColor: #2d2d2d;
  --mrg-bottom: 50px;
  --main-transition: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  /* background-color: var(--bgColor);/*/
  /* overflow: hidden; */
  /* height: 200v; */
}

body::-webkit-scrollbar {
  display: none; /* this disepear the scroll bar */
}
